@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Cormorant+Garamond:wght@400;500;600;700&family=DM+Sans:wght@400;500;700&family=Lexend:wght@100;400;500;600;700;800&family=Orelega+One&display=swap');

/* 
font-family: 'Cabin', sans-serif;
font-family: 'DM Sans', sans-serif;
font-family: 'Lexend', sans-serif;
font-family: 'Orelega One', cursive;
font-family: 'Cormorant Garamond', serif;
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  // background-color: #ece9e3;
  background-color: #f2eee9;
  margin: 0;
  padding: 0;
  font-family: 'Cormorant Garamond', serif;
  color: #474747;
}

p {
  font-family: 'Cabin', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.25px;
  // word-spacing: 1.3px;
  // font-size: 0.9rem;
}
a {
  color: #b6aa92e5;
}

// Utility Classes

.bg-dark {
  background-color: #b6aa922a;
}
.btn {
  border: none;
  background: none;
  color: #474747;
}

.navbar {
  background-color: #f2eee9;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid #b6aa9246;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar-logo {
  color: #474747;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  // background-color: #ff8177;
  // background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  // background-size: 100%;
  // --webkit-background-clip: text;
  // --moz-background-clip: text;
  // --webkit-text-fill-color: transparent;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  font-family: 'Cabin', sans-serif;
}

.navbar-item {
  height: 80px;
}

.navbar-links {
  color: #474747;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background: #b6aa9246;
  color: #474747;
}

.nav-btn:hover {
  background: #474747;
  transition: all 0.3s ease;
}

.navbar-links:hover {
  color: #474747;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar {
    height: 60px;
  }
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 60px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar-menu {
    display: grid;
    grid-template-columns: auto;
    // grid-template-rows: 50px 50px 50px 50px;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    // right: -1000px;
    // overflow-x: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
    border-bottom: 1px solid #b6aa9246;
    box-shadow: 0 10px 20px -10px #888888;
    // background: #131313;
  }

  .navbar-menu.active {
    background-color: #f2eee9;

    // right: 0px;
    // change to 100% ?
    top: 59px;
    opacity: 1;
    transition: all 0.2s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.2rem;
  }
  #navbar-logo {
    padding-left: 25px;
  }
  .navbar-toggle {
    // margin-top: -2px;
  }
  .navbar-toggle .bar {
    width: 25px;
    height: 2px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #474747;
  }

  .navbar-item {
    width: 100%;
    // background-color: rgba(0, 0, 0, 0.466);
  }

  .navbar-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar-btn {
    padding-bottom: 2rem;
  }

  .nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }
  .navbar-toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
}

.header {
  // margin-top: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.header-image {
  background-image: url(/images/header-image.PNG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 370px;
  width: 100%;
}

.header-text {
  margin: 2em 1em 0 1em;
  .header-title {
    font-size: 2.1rem;
    font-weight: 900;
  }
  p {
    margin-top: 0.5em;
  }
}
.ht-san-serif {
  font-family: 'Cabin', sans-serif;
  font-weight: 100;
}

.header-btn {
  background-color: #b6aa9246;
  cursor: pointer;
  padding: 1em 1.5em;
  margin-top: 2em;
  font-weight: 600;
}

.header-stats {
  width: 65%;
  border-top: 1px solid #b6aa9246;
  border-bottom: 1px solid #b6aa9246;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  .stat {
    margin: 1.5em 0;

    .stat-number {
      font-family: 'Cabin', sans-serif;
      color: #b6aa92e5;
      // color: #b6aa92c0;
    }
  }
}

.image-slider {
  margin-top: 5em;
  h1,
  p {
    margin: 0.5em 1.5em;
    text-align: center;
  }
}

.swiper-container,
.swiper-container-new {
  width: 100%;
  height: 300px;
  // height: 400px;
  margin: 5em 0 2.5em;
}
.menu-slider .swiper-container {
  margin: 15px 0 25px;
}

.swiper-slide {
  margin-left: 10px;
  text-align: center;
  font-size: 18px;
  // background: #fff;
  margin-right: 2px !important;
  width: 155px !important;
  // width: 225px !important;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  // border-radius: 5%;
  overflow: hidden;
}

.swiper-slide.slide2 {
  width: 220px !important;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  // overflow-x: hidden;

  h3 {
    margin-top: 0.5em;
  }
  p {
    font-size: 0.9rem;
    text-align: left;
  }
}

.swiper-container.swiper2 {
  height: 200px;
}

.swiper-slide img {
  /* width: 100%; MAYBE PUT BACK, BUT KEEPS IMAGES TO SCALE*/
  height: 100%;
}
.swiper-slide.slide2 img {
  // width: 220px;
  width: 100%;

  height: 50%;
}
// .swiper-slide .shade {
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.199);
//   position: absolute;
// }
// .swiper-slide h3 {
//   position: absolute;
//   color: #fff;
//   // font-size: 15px;
//   left: 0;
//   margin-left: 1em;
//   text-align: left;
//   line-height: 14px;
//   bottom: 17%;
// }
// .swiper-slide h6 {
//   position: absolute;
//   color: #fff;
//   font-size: 9px;
//   left: 0;
//   bottom: 6%;
//   margin-left: 8px;
//   text-align: left;
//   line-height: 14px;
//   font-weight: 400;
// }
// .swiper-slide h6 img {
//   width: 10px;
//   height: 10px;
//   margin-right: 5px;
// }

.benefits {
  margin: 0 1em 2.5em;
  h1 {
    margin-bottom: 0.5em;
  }
  .benefits-description {
    margin-bottom: 2em;
  }
  .benefit-block {
    border-top: 1px solid #b6aa9246;
    // border-bottom: 1px solid #b6aa9246;
    padding: 0.75em 0 2em;
    h3 {
      margin-bottom: 0.5em;
      font-weight: 900;
    }
  }
}

.image-break {
  background-image: url(/images/Hero1.jpg);
  opacity: 90%;
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.process {
  margin-top: 5em;
  h1 {
    margin: 0.25em 1.5em;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .process-block {
    margin: 3em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    .process-image-design {
      background-image: url(/images/Design.jpeg);
      margin-top: 2em;
    }
    .process-image-production {
      background-image: url(/images/Woodworking2.jpg);
    }
    .process-image {
      height: 135px;
      width: 240px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: 1em;
    }
    .process-text {
      .process-title {
        margin-bottom: 0.5em;
      }
    }
  }
}
.CTA {
  .cta-info {
    margin: 1em 1em 0;
    padding: 2em 0;
    h1 {
      margin-bottom: 0.5em;
    }
    button {
      font-weight: bolder;
      background-color: #b6aa92b9;
      border: none;
      padding: 1em;
      margin: 1em 0;
    }
  }
}
// .image-grid {
//   .grid-img {
//     width: 100%;
//     height: 200px;
//   }
//   .image-1 {
//     background-image: url(/images/Hero1.jpg);
//     background-size: cover;
//   }
// }
